<div class="home-container">
  <!-- Globe Container -->
  <div id="globeContainer"></div>

  <!-- Content -->
  <div class="content">
    <h1>Welcome to Space!</h1>
    <p>This is your planetery orbit to scale</p>
    <!-- Logout Button -->
    <button class="logout-button" (click)="logout()">Logout</button>
    <p>Planet: {{ currentPlanetName }}</p>
    <!-- Texture Change Buttons -->
    <div class="texture-buttons">
      <button class="texture-button" (click)="changeTexture('left')"><</button>
      <button class="texture-button" (click)="changeTexture('right')">></button>
    </div>
  </div>
</div>

